.bgWrap {
  position: fixed;
  height: 94vh;
  width: 100vw;
  overflow: scroll;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
